//Colores

$color-principal: #432818;
$color-secundario: #BB9457;

$color-rojo: #6F1D1B;
$color-naranja: #99582A;
$color-amarillo: #FFE6A7;

//Media Query

$vista-min: 320px;
$vista-mobil: 728px;
$vista-tablet: 1024px;
$vista-max: 1240px;

//Espaciados

$espacio-xs: 10px;
$espacio-s: 15px;
$espacio-m: 20px;
$espacio-l: 25px;
$espacio-xl: 30px;

//Tamaño letra titulos

$titol-size-xs: 12px;
$titol-size-s: 13px;
$titol-size-m: 14px;
$titol-size-l: 20px;
$titol-size-xl: 22px;
$titol-size-xxl: 22px;
$titol-size-xxxl: 27px;

//Fuentes de letra

$font-titol: "PlayfairDisplay";
$font-parraf: "NunitoSans";