@use "../abstract/variables" as *;

.black {
    background-color: black;
}

.categoria_productes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $espacio-m;
}

@media (max-width: $vista-tablet) {
    .tenda_categories .categoria .categoria_productes {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: $espacio-s;
        padding: $espacio-l $espacio-s;

        .producte:nth-child(3) {
            grid-column: 1 / 3;
        }
    }

    .producte {
        img {
            height: 300px;
        }
    }

    .llistat_ofertes {
        grid-template-columns: repeat(2, 1fr);
        gap: $espacio-s;
        padding: $espacio-l $espacio-s;
    }

    .producte_oferta {
        &:nth-child(3) {
            grid-column: 1 / 3;
        }

        .producte_oferta_imatge {
            height: 300px;
        }
    }


}


@media (max-width: $vista-mobil) {

    /* fer la selecció exacta i forçar una sola columna */
    .tenda_categories .categoria .categoria_productes {
        grid-template-columns: 1fr !important;
        display: grid;
        grid-auto-rows: auto;
        gap: $espacio-s;
        padding: $espacio-m $espacio-xs;
    }

    /* assegurar que cap producte ocupa més d'una columna */
    .tenda_categories .categoria .categoria_productes .producte {
        grid-column: auto !important;
        width: 100%;
        display: block;
        margin-bottom: $espacio-s;
    }

    .tenda_categories .categoria .categoria_productes .producte img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }



    .llistat_ofertes {
        grid-template-columns: 1fr !important;
        display: grid;
        grid-auto-rows: auto;
        gap: $espacio-s;
        padding: $espacio-m $espacio-xs;
    }

    /* assegurar que cap producte ocupa més d'una columna */
    .llistat_ofertes .producte_oferta {
        grid-column: auto !important;
        width: 100%;
        display: block;
        margin-bottom: $espacio-s;
    }

    .llistat_ofertes .producte_oferta .producte_oferta_imatge {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}