@use "sass:color";
@use "../abstract/variables" as *;

//HEADER GENERAL

header {

    z-index: 5;

    //ATRIBUTS GENERALS

    font-family: $font-parraf;

    //Efecte Sticky

    position: sticky;
    top: 0;

    //Selecció d'Elements

    user-select: none; //evita que es puguin seleccionar elements amb el ratolí

    //Colors

    background-color: var(--fondo-secundario);

    //Vora

    border-radius: 100px;
    border: 2px solid var(--borde-amarillo);

    //Espaciat

    margin: $espacio-xl 0px;
    padding-right: 50px;

    //Flex

    display: flex;
    justify-content: space-between;
    align-items: center;


    //LOGO

    //Link Asociat al Logo

    .logo-link {
        display: inline-block;
        clip-path: circle(50%); //link circular
        pointer-events: auto; //reacciona al cursor

        //Imatge Del Logo

        .logo {
            width: 150px;
            float: left;
        }
    }


    //NAV

    .nav-header {

        padding: 0; //reset padding

        //Lista Horizontal

        li {
            list-style-type: none;
            float: right;
            margin: $espacio-s;

            //Aspecte Elements Nav

            a {
                text-decoration: none;
                font-size: $titol-size-l;

                color: var(--nav-lletres);
                background-color: var(--fondo);

                display: block;
                padding: $espacio-xs $espacio-xl;

                border-radius: 100px;
                border: 2px solid var(--borde-amarillo);

                transition: transform 0.3s ease;

                //Aspecte en Hover

                &:hover {
                    box-shadow: 0 0 10px rgba($color-amarillo, 0.5);
                    border-color: #b85c1b;
                    color: #b85c1b;

                    transform: scale(1.08);
                }

                //Aspecte en Click

                &:active {
                    color: color.adjust(#b85c1b, $lightness: 20%);
                    border-color: color.adjust(#b85c1b, $lightness: 20%); //Ajustament al color per a que sigui més clar

                    transform: scale(0.97);
                }
            }

            //Responsive per Tablets i Mobils

            @media(max-width: $vista-tablet) {
                display: none; //ocultar nav

            }
        }
    }


    //ICONA MODE FOSC

    //Botó Rodó

    .boto-rodo {
        width: 40px;
        height: 40px;

        border-radius: 50%; //cercle

        background-color: var(--fondo);
        border: var(--borde-amarillo) 1px solid;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        padding-top: 5px; //padding per a que la imatge s'ajusti al botó

        transition: transform 0.3s ease;

        //Aspecte en hover

        &:hover {
            transform: scale(1.08);

            border: #b85c1b 1px solid;
        }

        //Aspecte en Click

        &:active {
            transform: scale(0.97);

            &.boto-rodo-nav {
                border-color: color.adjust(#b85c1b, $lightness: 20%);
            }
        }

        //Icones de Perfil i Mode Fosc

        .icones-nav {
            width: 30px;
            padding-bottom: 3px;
        }

        //Aspecte en Hover

        &.boto-rodo:hover .icones-nav {
            filter: invert(42%) sepia(84%) saturate(1000%) hue-rotate(-20deg) brightness(70%) contrast(100%);
            //propietats per a que la imatge quedi del color que volem
        }

        //Aspecte en Click

        &.boto-rodo-nav:active .icones-nav {
            filter: invert(42%) sepia(84%) saturate(1000%) hue-rotate(-20deg) brightness(90%) contrast(100%);
            //li pujem la brillantor al clickar
        }

        //Imatge de la Lluna

        .icone-mode-fosc {
            margin-bottom: 2px;
            margin-right: 2px; //marges per a que la lluna quedi centrada
        }

    }


    //MENU DESPLEGABLE (MOBILS I TABLETS)

    //Menu Hamburguesa

    .burger-header {
        font-size: 45px;

        display: none;

        color: var(--fondo);

        //Responsive per Tablets i Mobils

        @media(max-width: $vista-tablet) {
            display: contents; //mostrar menu desplegable

        }
    }

    //Panel Lateral

    .sidepanel {
        width: 0; //per a la transició
        height: 100vh; //100% de la altura visible de la finestra

        position: fixed;
        top: 0;
        right: 0;
        z-index: 10; //capa superior per assegurar que estigui a sobre

        overflow-x: hidden;

        background-color: var(--fondo-sidepanel);
        backdrop-filter: blur(6px); //efecte borros al fons

        padding-top: 80px;
        padding-inline: $espacio-m; //padding als costats

        border-left: 2px solid var(--borde-hover);
        box-shadow: -4px 0 15px rgba(0, 0, 0, 0.4);

        opacity: 0; //per a que no es mostri

        transition: width 0.4s ease, opacity 0.4s ease;

        //Classe Activadora

        &.active {
            width: 250px;
            opacity: 1;
        }

        //Botó Mode Fosc en Sidepanel

        .lluna-sidepanel {
            position: absolute;
            top: 50px;
            right: 180px;

            rotate: 0deg;
            scale: 1; //reinci en sortir del hover

            transition: rotate 1s ease-in-out, scale 0.3s ease;


            //Aspecte en Hover

            &:hover {
                background-color: var(--fondo-amarillo);

                rotate: 360deg;
                scale: 1.08;
                transition:
                    rotate 1s ease-in-out,
                    scale 0.3s ease;
            }

            //Aspecte en Clickar

            &:active {
                scale: 0.97;
            }
        }

        //Botó Pefil en Sidepanel

        .perfil-sidepanel {
            position: absolute;
            top: 48px;
            right: 120px;
            scale: 1; //reinci en sortir del hover

            transition: scale 0.3s ease;

            &:hover {
                background-color: var(--fondo-amarillo);

                scale: 1.08;
                transition:
                    scale 0.3s ease;
            }


        }

        //Botó per Tancar el Sidepanel

        .boto-tancar-sidepanel {
            position: absolute;
            top: $espacio-xs;
            right: $espacio-l;

            font-size: 45px;
            font-weight: bold;
            color: var(--texto-secundario);

            cursor: pointer;

            transition: transform 0.3s ease, color 0.3s ease;

            //Aspecte en Hover

            &:hover {
                color: #b85c1b;
                transform: rotate(90deg);
            }
        }

        //Llista de Links

        a {
            display: block;
            padding: 5px $espacio-xs;
            margin: $espacio-xs 0;
            border-radius: 50px;

            font-size: $titol-size-m;
            text-decoration: none;

            color: var(--texto-secundario);
            background-color: var(--fondo-link-sidepanel);

            transition: background-color 0.3s ease, transform 0.3s ease;

            //Aspecte en Hover

            &:hover {
                background-color: var(--fondo-amarillo);
                color: var(--fondo);
                box-shadow: 0 0 10px rgba($color-amarillo, 0.4);

                transform: translateX(5px);
            }

            //Aspecte en Clickar

            &:active {
                transform: scale(0.97);
            }
        }

    }

    //Fons Negre Sidepanel

    .overlay-sidepanel {
        position: fixed;

        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        opacity: 0;

        pointer-events: none; //per a que no interfereixi amb els elements del fons

        transition: opacity 0.3s ease;

        //Classe Activadora

        &.active {
            opacity: 1;

            pointer-events: all;
        }
    }

}








//HEADER TIENDA

.header-tenda {

    //BUSCADOR

    //Barra Buscadora

    .buscador {

        align-items: center;

        border: 2px solid transparent;
        border-radius: 100px;

        overflow: hidden;
        transition: width 1s ease, border-color 0.4s ease;

        //Quadre de Text

        input {
            color: var(--texto-secundario);
            font-size: $titol-size-m;

            width: 100%;

            border: none;

            outline: none;

            margin: 0;
            padding: $espacio-xs $espacio-xl;

            transition: width 1s ease;

            //Aspecte Placeholder

            &::placeholder {
                color: var(--texto-secundario);
                opacity: 0.5;
            }
        }

        //Botó de Cerca

        button {
            background-color: var(--fondo-amarillo);
            color: var(--fondo);

            border: none;
            border-radius: 0px 100px 100px 0px;

            padding: $espacio-xs $espacio-m;

            cursor: pointer;

            transition: background-color 0.3s ease, transform 0.3s ease;

            //Aspecte en Hover

            &:hover {
                background-color: color.adjust($color-amarillo, $lightness: -10%);
            }

            //Aspecte en Clickar

            &:active {
                background-color: color.adjust($color-amarillo, $lightness: -20%);
                transform: scale(0.95);
            }
        }

        //Vora en fer Focus en el Quadre de Text

        &:has(input:focus) {
            border-color: var(--borde-hover);

        }

        //Aspectes Únics del Buscador en el Header

        &.buscador-header {
            display: flex;
            width: 220px;
            margin-left: 2%;
            margin-right: auto;

            //Quadre de Text en el Buscador del Header

            input {
                background-color: var(--fondo);
            }

            //Responsive per Mobils

            @media(max-width: $vista-mobil) {

                display: none; //oculta la barra buscadora del header

            }
        }

        //Aspectes Únics del Buscador en el Sidepanel

        &.buscador-sidepanel {
            display: none;
            width: 100%;
            margin: $espacio-m auto;

            //Quadre de Text en el Buscador del Sidepanel

            input {
                background-color: var(--fondo-link-sidepanel);
            }

            //Responsive per Mobils Buscador Sidepanel

            @media (max-width: $vista-mobil) {

                display: flex; //mostra el buscador en el sidepanel
            }
        }

    }


    //NAV

    .nav-header {

        text-align: right;

        //elements més petits i comprimits per a que quepiga el buscador
        a {
            font-size: $titol-size-s;
            padding: 7.5px $espacio-m;
        }

        li {
            margin: 7px;
        }

    }
}