@use "../abstract/variables" as *;

header {
    img {
        width: 200px;
    }

    background-color:$color-secundario;
    border-radius: 100px;
    margin: $espacio-s;

    a {
        text-decoration: none;
        color: $color-principal;
    }
}