@use "../abstract/variables" as *;

// Banner
.tenda_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../public/Images/portada3.jpg') center/cover no-repeat; //Per al filtre fosc davant la imatge
    padding: $espacio-xl $espacio-m;
    text-align: center;
    color: $color-amarillo;
    height: 400px;
    border-radius: 50px 50px 0px 0px;


    .tenda_banner_content {
        margin: 0 auto;

        h1 {
            font-size: $titol-size-4xl;
            font-family: $font-titol;
            margin-bottom: $espacio-l;
            margin-top: 75px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); //Sombres
        }

        p {
            font-size: $titol-size-l;
            font-family: $font-parraf;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        }
    }
}

// Text Introductori
.tenda_intro {
    background-color: var(--fondo-secundario);
    padding: $espacio-xl $espacio-m;

    .tenda_intro_content {
        max-width: $vista-max;
        margin: 0 auto;
        text-align: center;

        h2 {
            font-size: $titol-size-xl;
            font-weight: bold;
            font-family: $font-titol;
            color: $color-amarillo;
            margin-bottom: $espacio-m;
        }

        p {
            font-size: $titol-size-m;
            font-family: $font-parraf;
            color: $color-amarillo;
            line-height: 1.6;
        }
    }
}

// Categories
.tenda_categories {
    margin: 0 auto;
    padding: $espacio-s $espacio-m $espacio-xl;
    background-color: var(--fondo-amarillo);

    h1 {
        color: $color-rojo;
        text-align: center;
        font-weight: bold;
        margin-top: $espacio-m;
        margin-bottom: $espacio-xl;
    }

    .categoria {
        margin-bottom: $espacio-xl;
        background-color: $color-amarillo;

        .categoria_header {
            background-color: $color-principal;
            color: $color-amarillo;
            padding: $espacio-m;
            margin-bottom: 0;

            h3 {
                font-size: $titol-size-xl;
                font-family: $font-titol;
                margin: 0;
                color: $color-amarillo;
            }
        }

        .categoria_productes {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: $espacio-m;
            padding: $espacio-xl $espacio-m;
            background-color: $color-principal;
            border: 2px solid $color-secundario;
            border-top: none;
        }
    }
}

// Productes
.producte {
    display: flex;
    flex-direction: column;
    background-color: $color-principal;
    border: 2px solid $color-secundario;
    padding: $espacio-m;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        border-color: $color-amarillo;
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: $espacio-m;
    }

    h4 {
        font-size: $titol-size-m;
        font-family: $font-titol;
        color: $color-amarillo;
        margin: $espacio-s 0;
        flex-grow: 1;
    }

    .preu {
        font-size: $titol-size-l;
        font-family: $font-titol;
        color: $color-naranja;
        margin: $espacio-s 0;
        font-weight: bold;
    }

    .btn_comprar {
        background-color: var(--acento-secundario);
        color: $color-amarillo;
        padding: $espacio-s $espacio-m;
        font-size: $titol-size-m;
        font-family: $font-parraf;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: $espacio-s;
        font-weight: bold;

        &:hover {
            background-color: var(--acento-hover);
            transform: scale(1.05);
            color: var(--texto-principal);
        }

        &:active {
            transform: scale(0.98);
        }
    }
}


//Estils productes recomanats
.llistat_ofertes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $espacio-m;
    padding: $espacio-xl $espacio-m;
    background-color: $color-principal;
    border: 2px solid $color-secundario;
    margin-top: $espacio-xl;
}

// Productes d'Oferta (generats dinàmicament)
.producte_oferta {
    display: flex;
    flex-direction: column;
    background-color: $color-principal;
    border: 2px solid $color-secundario;
    padding: $espacio-m;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        border-color: $color-amarillo;
    }

    .producte_oferta_imatge {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: $espacio-m;
    }

    .producte_oferta_nom {
        font-size: $titol-size-m;
        font-family: $font-titol;
        color: $color-amarillo;
        margin: $espacio-s 0;
        flex-grow: 1;
    }

    .preu {
        font-size: $titol-size-l;
        font-family: $font-titol;
        color: $color-naranja;
        margin: $espacio-s 0;
        font-weight: bold;
    }

    .btn_comprar {
        background-color: $color-naranja;
        color: $color-amarillo;
        padding: $espacio-s $espacio-m;
        font-size: $titol-size-m;
        font-family: $font-parraf;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: $espacio-s;
        font-weight: bold;
        border: none;

        &:hover {
            background-color: $color-amarillo;
            transform: scale(1.05);
            color: $color-principal;
        }

        &:active {
            transform: scale(0.98);
        }
    }
}

// Media Query per a mòbil
@media (max-width: $vista-mobil) {}

@media (max-width: $vista-mobil) {
    .tenda_banner {
        padding: $espacio-l $espacio-s;

        .tenda_banner_content h1 {
            font-size: $titol-size-xl;
        }

        .tenda_banner_content p {
            font-size: $titol-size-m;
        }
    }

    .tenda_intro {
        padding: $espacio-l $espacio-s;

        .tenda_intro_content h2 {
            font-size: $titol-size-l;
        }

        .tenda_intro_content p {
            font-size: $titol-size-s;
        }
    }

    .producte {
        img {
            height: 300px;
        }

        h4 {
            font-size: $titol-size-s;
        }

        .preu {
            font-size: $titol-size-m;
        }

        .btn_comprar {
            font-size: $titol-size-s;
            padding: $espacio-xs $espacio-s;
        }
    }


    //media querry productes recomats
    .llistat_ofertes {
        padding: $espacio-m $espacio-s;
        gap: $espacio-s;
    }

    .producte_oferta {
        .producte_oferta_imatge {
            height: 300px;
        }

        .producte_oferta_nom {
            font-size: $titol-size-s;
        }

        .preu {
            font-size: $titol-size-m;
        }

        .btn_comprar {
            font-size: $titol-size-s;
            padding: $espacio-xs $espacio-s;
        }
    }
}

// Buscador

.filtro {
    display: none !important;
}

.tenda_categories .categoria.filtro,
.tenda_intro .llistat_ofertes.filtro,
.tenda_intro.filtro,
.categoria_header {
    display: none !important;
}

.categoria.filtro {
    display: none !important;
}