@use "../abstract/variables" as *;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
=======
>>>>>>> Stashed changes

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}
>>>>>>> Stashed changes

body {
    background-color: $color-principal;
    min-width: $vista-min;
    max-width: $vista-max;
    margin: auto;
}