@use "../abstract/variables" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: $color-principal;
    min-width: $vista-min;
    max-width: $vista-max;
    margin: auto;
}