@font-face {
    font-family: "PlayfairDisplay", sans-serif;
    src: url(../../public/fonts/PlayfairDisplay.ttf);
}

@font-face {
    font-family: "NunitoSans", sans-serif;
    src: url(../../public/fonts/NunitoSans.ttf);
}